html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #2B526A;
}

.container {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 300px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 300px;
}

.form-info {
    font-size: 12px;
    max-width: 300px;
    text-align: center;
    color: white;
}

.form-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 25px;
    margin-bottom: 20px;
    outline: none;
    background-color: transparent;
    color: white;
    border-width: 1px;
}

.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.form-button {
    height: 40px;
    border: 0;
    border-radius: 5px;
    border:1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.form-error {
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    width: 100%;
    max-width: 300px;
    text-align: center;
    opacity: 0;
    transition: 100ms ease-in-out;
    font-size: 14px;
    height: 0;
}

.has-error {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    opacity: 1;
}

.loading {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2B526A;
    opacity: 0.9;
    display: none;
} 

.loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    right: 0;
    opacity: 0;
}
.loader-1 {
    -webkit-animation: rot1 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: rot1 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-2 {
    -webkit-animation: rot2 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: rot2 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-3 {
    -webkit-animation: rot3 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: rot3 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-4 {
    -webkit-animation: rot4 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: rot4 1s 0s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes rot1 {
    0% { 
        opacity: 0.8;
        transform: rotate(60deg)
                translate(-50px)
                rotate(60deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.6;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.2;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.6;
    }
    100% { 
    opacity: 0.8; 
    transform: rotate(420deg)
                translate(-50px) 
                rotate(-420deg);  
    }
}

@keyframes rot2 {
    0% { 
        opacity: 1;
        transform: rotate(90deg)
                translate(-50px)
                rotate(90deg);
    }
    10% {
        opacity: 0.8;
    }
    20% {
        opacity: 0.6;
    }
    30% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.2;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.6;
    }
    90% {
        opacity: 0.8;
    }

    100% { 
        opacity: 1; 
        transform: rotate(450deg)
                translate(-50px)
                rotate(-450deg); 
    }
}

@keyframes rot3 {
    0% { 
        opacity: 0.8;
        transform: rotate(120deg)
                translate(-50px)
                rotate(120deg)
    }
    10% {
        opacity: 0.6;
    }
    20% {
        opacity: 0.4;
    }
    30% {
        opacity: 0.2;
        }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 1;
    }
    100% { 
        opacity: 0.8;
        transform: rotate(480deg)
                translate(-50px)
                rotate(-480deg) 
    }
}

@keyframes rot4 {
    0% { 
        opacity: 0.6;
        transform: rotate(150deg)
                translate(-50px)
                rotate(150deg)
    }
    10% {
        opacity: 0.4;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0;
        }
    40% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.8;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0.8;
    }
    100% { 
        opacity: 0.6;
        transform: rotate(510deg)
                translate(-50px)
                rotate(-510deg) 
    }
}

.is-loading {
    display: block;
}

